

h1 {
    text-align: left;
    font-size: 25px;
    color: darkslategray;
}

h2 {
    text-align: left;
    font-size: 16px;
    color: darkslategray;
}

body {
    background-color: slategray;
}
form {
    display: flex;
    flex-direction: column;
}
.titre{
    margin: 1em;
    width: 100%;
    background-color: white;
  
}
 
}
input{
   
margin-left: 250px;
}
select{
    margin-left: 250px;
}
.boutton{
    margin: 1em;
    width: 0%;
    background-color: white;
}