.pageContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 85%;
    margin: 0 auto;
}
.pics {
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: white;
}
.miniPic{    
    display: flex;
    flex-direction: column;  
    width: 20%;   
}
.miniPics:hover {

}
img{
    margin: 1px;
}

img.mainPic {    
    width: 50%;
}
.productDetails{
    width: auto%;
}
.clientProtection{
    display: flex;
    flex-direction: row;
}
.details td{
    padding: 5px;
}
.largePics {
    visibility: hidden;
    
}