.pics {
    display: flex;
    flex-direction: row;
    width: 85%;
}
.miniPic{    
    display: flex;
    flex-direction: column;  
    width: 20%;   
}
img{
    margin: 1px;
}

img.mainPic {    
    width: 40%;
}