.pageContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 85%;
    margin: 0 auto;
}
.pics {
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: white;
}
.miniPic{    
    display: flex;
    flex-direction: column;  
    width: 20%;   
}
img{
    margin: 1px;
}
.pics img:hover{
  width: 350px;
}
img.mainPic {    
    width: 50%;
}
.productDetails{
    width: auto;
}
.clientProtection{
    display: flex;
    flex-direction: row;
}
.details td{
    padding: 5px;
}
.largePics {
    visibility: hidden;
    
}

 /* Popup container */
 .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } 